<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>price</th>
                <th>img</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                app-product-item
                *ngFor="let product of products; let i = index"
                [product]="product"
                [index]="[i]"
                (onRemove)="removeItem(product.id)"
            >
                
            </tr>
        </tbody>
    </table>
</div>